<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<meta name="description" content="Password App">
	<meta name="keywords" content="Password, Node, encryption, Aaron de Miranda Colaco, aarongoa, aarondmc">
	<meta name="author" content="Aaron de Miranda Colaco">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<title> {{title}} | Password App</title>
</head>
<body>
	{{{body}}}

	<div class="footer">
		<div class="container">
			<p>Copyright &copy Aaron. All Rights Reserved. Created by <u><a href="http://aaroncolaco.com">Aaron</a></u></p>
		</div>
	</div>
</body>
</html>